.recommended-albums {
    width: 100%;
    max-width: 900px;
    background-color: #121212; 
    color: white;
    box-sizing: border-box;
    position: relative;
    padding: 20px; 
    margin-left: auto; 
    margin-right: auto; 
    transition: padding 0.3s ease; 
    max-width: 1500px; 
    margin-top: -50px;
    margin-bottom: 80px;
}


.carousel-controls {
    position: absolute;
    top: 20px; 
    right: 20px; 
    display: flex;
    gap: 10px;
}

/* btns */
.carousel-button {
    background-color: #202020;
    border: none;
    color: white;
    font-size: 10px; 
    width: 30px; 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
}

.carousel-button:hover {
    background-color: #333333;
}

/* info user */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px; 
    font-size: 20px;
    color: white;
}

.user-image {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: width 0.3s ease, height 0.3s ease; 
}

/* albumes recomendados */
.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.album-card {
    width: calc(20% - 10px); 
    box-sizing: border-box;
    text-align: center;
    transition: width 0.3s ease; 
}

.album-image {
    width: 50%; 
    height: auto;
    border-radius: 4px;
    transition: width 0.3s ease; 
    margin-bottom: -10px;
}

/* Media Queries-Respons */
@media (max-width: 1024px) {
    .album-card {
        width: calc(25% - 10px); 
    }

    .album-image {
        width: 75%; 
    }
}

@media (max-width: 768px) {
    .album-card {
        width: calc(33.33% - 10px); 
    }

    .album-image {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .album-card {
        width: calc(50% - 10px); 
    }

    .album-image {
        width: 100%; 
    }
}
