/* Estilo general de la barra vertical */
.vertical-n-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #202020; /* Color de fondo de la barra vertical */
    color: white;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    width: 60px; /* Ancho de la barra vertical */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Asegura que la barra esté sobre otros elementos */
}

/* Contenedor del ícono de home */
.home-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Espaciado inferior para separar del contenido siguiente */
}

/* Estilo del ícono de home */
.home-icon {
    width: 40px; /* Tamaño aumentado del ícono */
    height: 40px;
    transition: width 0.3s ease, height 0.3s ease; /* Transición para el cambio de tamaño */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-left:1px;
    margin-top:65px;
}





/* Responsividad */
@media (max-width: 1024px) {
    .vertical-n-bar {
        width: 50px; /* Ajusta el ancho para pantallas más pequeñas */
    }

    .home-icon {
        width: 25px; /* Tamaño del ícono en pantallas medianas */
        height: 25px;
    }

    .home-icon:hover {
        width: 30px; /* Tamaño aumentado al pasar el ratón por encima en pantallas medianas */
        height: 30px;
    }
}

@media (max-width: 768px) {
    .vertical-n-bar {
        width: 40px; /* Ajusta el ancho para pantallas pequeñas */
    }

    .home-icon {
        width: 20px; /* Tamaño del ícono en pantallas pequeñas */
        height: 20px;
    }

    .home-icon:hover {
        width: 25px; /* Tamaño aumentado al pasar el ratón por encima en pantallas pequeñas */
        height: 25px;
    }
}

@media (max-width: 480px) {
    .vertical-n-bar {
        width: 30px; /* Ajusta el ancho para pantallas muy pequeñas */
    }

    .home-icon {
        width: 15px; /* Tamaño del ícono en pantallas muy pequeñas */
        height: 15px;
    }

    .home-icon:hover {
        width: 20px; /* Tamaño aumentado al pasar el ratón por encima en pantallas muy pequeñas */
        height: 20px;
    }
}
